body
{
  font-family: Helvetica;
  background-color: Black;
  color:white;
  font-size: 18px;
  font-weight: normal;
}

.logo
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sitecontainer
{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 960px;
  text-align: center;
}

.logo .sitecontainer
{
  display:inline-flex;
  justify-content: flex-start;
}
.logo img
{
  padding-left: 0.5rem;
  padding-right: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  height: 1.5rem;
}

.logo span{
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.banner
{
  background-image: url(../../resources/images/moto.jpeg);
  height: 25rem;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}
.banner .sitecontainer
{
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.banner .sitecontainer .title
{
  flex-direction: column;
  background-color: black;
  width: 25rem;
}

.banner .sitecontainer .title h4
{
  font-size: 1rem;
  padding-top: 2rem;
  padding-left: 3rem;
}

.banner .sitecontainer .title h1
{
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-top: 0.25rem;
  padding-bottom: 2rem;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: firebrick;
  width: 100%;
}

/*
@media only screen and (max-width:1024px)
nav span {
  display: none;
}*/

.menu .sitecontainer nav{
  width: 100%;
  display:flex;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

}

.productgrid
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.productgrid .sitecontainer
{
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.productgrid .sitecontainer .product
{
  border: 4px solid black;
  flex-direction: column;
  width: 30%;
}

.productgrid .sitecontainer .product img{
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.productgrid .sitecontainer .product h4{
  width: 100%;
  background-color:black;
  justify-content: center;
  align-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

a
{
  color:white;
  text-decoration: none;
}
.contact
{
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.contact .sitecontainer
{
  margin-bottom: 4rem;
  justify-content: space-between;
  flex-direction: row;
}

.location,.hours
{
  display:flex;
  width: 35%;
  flex-direction: column;
  text-align: left;
}

.location h4,.hours h4
{
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;

}
.location span,.hours span
 {
  color:black;
  justify-content: flex-start;
}

.footer
{
  display: flex;
  height:5rem;
  justify-content: center;
  align-items: center;
}

.footer .sitecontainer
{
  color:white;
  justify-content: flex-start;
}

/*
@media only screen and (max-width:1024px){
  banner{
    font-size: 16px;
  }
}*/
